<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="db" connectionString=" mongodb://client:17247914@ds036617.mlab.com:17247914/anipurei?strict=false"/>
	</connectionStrings>
	<appSettings>
		<add key="Setting1" value="Very" />
		<add key="Setting2" value="Easy" />
 	</appSettings>
</configuration>
